<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

<!-- static factory method returning its own class object -->
  <bean id="c1"  class="java.lang.Class"  factory-method="forName">  <!-- calls Class.forName("java.util.Date") method -->
       <constructor-arg value="java.util.Date"/>  <!-- not for constructor injection.. It is for passing factory method arg value -->
  </bean>
  
  <!-- static factory method returning relevant class object -->
  <bean id="cal"  class="java.util.Calendar" factory-method="getInstance"/> <!-- calls Calendar.getInstance() -->
    
  <!-- static factory method returning unrelated class object -->
  <bean id="props"  class="java.lang.System" factory-method="getProperties"/>  <!-- calls System.getProperties() -->
  
  <!-- instance factoty method returning its own class object-->
  <bean id="s1" class="java.lang.String">
      <constructor-arg value="hello"/>  <!-- for constructor injection -->
  </bean>
  <bean id="s2"  factory-bean="s1" factory-method="concat">  <!-- calls  s1.concat("123") method -->
      <constructor-arg  value="123"/>  <!-- To pass factory method arg value -->
  </bean>
  
  <!-- instance factoty method returning unrelated class object-->
  <bean id="sb" class="java.lang.StringBuffer">
      <constructor-arg value="hello,how are u"/>  <!-- for constructor injection -->
  </bean>
  <bean id="s3"  factory-bean="sb" factory-method="substring" >  <!-- calls sb.substring(0,5) -->
         <constructor-arg value="0"/>
         <constructor-arg value="5"/>
  </bean>
  
  
  

</beans>
