<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- DataSource cfg -->
  <bean id="drds"  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
      <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
      <property name="username" value="system"/>
      <property name="password" value="manager"/>
  </bean>
  
  <!-- DAO class cfg -->
  <bean id="empDAO"  class="com.nt.dao.EmployeeDAOImpl">
      <constructor-arg name="ds" ref="drds"/>
  </bean>
  
  <!-- service class cfg  -->
  <bean id="empService" class="com.nt.service.EmployeeMgmtServiceImpl">
     <constructor-arg name="dao"  ref="empDAO"/>
  </bean>
  
  <!-- controller cfg -->
  <bean id="controller"  class="com.nt.controller.MainController">
      <constructor-arg name="service"  ref="empService"/>
  </bean>

</beans>
