
<html      xmlns:th="http://www.thymeleaf.org">

 <h1 style="color:blue;text-align:center"> Custom Login Page </h1>
 <br>
   <span  style="color:red;text-align:center" th:if="${param.error}"> Login Failed (Invalid Credentails)  </span>
   <span  style="color:red;text-align:center" th:if="${param.logout}">  User Logged out successfully </span>
   
<form  th:action="@{/login}" method="POST" >
  <table border="0" align="center" bgcolor="cyan">
    <tr>
       <td> username:: </td>
       <td><input type="text"  name="username"/> </td>
    </tr>
    <tr>
       <td> password:: </td>
       <td><input type="text"  name="password"/> </td>
    </tr>
   
   
    <tr>
       <td> <input type="submit" value="Login"/></td>
       <td><input type="reset" value="cancel"/>       </td>
    </tr>
  
  </table>

</form>
 
   
    <br>    <h1 style="text-align:center"> or </h1>
    
      <h1 style="text-align:center"><a href="/oauth2/authorization/facebook"> Login as Facebook user</a> <br>
      <hr>
      <h1 style="text-align:center"><a href="/oauth2/authorization/google"> Login as Gmail user</a>
      
    
    
   